{% extends "base_generic.html" %}
    
{% block content %} 
    
<!--Register--> 
<div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
        {{ register_form.as_table }}
        </table>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // отслеживаем событие отправки формы
            $('#id_username').keyup(function () {
                // создаем AJAX-вызов
                $.ajax({
                    data: $(this).serialize(), // получаяем данные формы
                    url: "{% url 'validate_username' %}",
                    // если успешно, то
                    success: function (response) {
                        if (response.is_taken == true) {
                            $('#id_username').removeClass('is-valid').addClass('is-invalid');
                            $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                        }
                        else {
                            $('#id_username').removeClass('is-invalid').addClass('is-valid');
                            $('#usernameError').remove();

                        }
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
{% endblock javascript %}